@charset "utf-8";

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #756754;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;
	line-height: 2;
	background: white;
	text-align: center;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #756754;
	transition: 0.3s;
}
a:hover {
	color: #799a3a;
}

#container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3%;
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*headerブロック*/
.hwrapper{
	width: 100%;
	background-color: #f5f1cf;
	margin-bottom: 30px;
}

.header {
	margin: auto;
  max-width: 800px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	font-weight: 800;
}

.icon a {
	text-decoration: none;
	font-size: 25px;
	padding: 15px 30px;
}

.icon:hover {
	color: #799a3a;
	border-bottom: 4px solid #799a3a;
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
.menubar li {
	display: inline;
}

.menubar li a {
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 400;
	font-size: 16px;
}
/*マウスオン時の設定*/
.menubar li a:hover {
	color: #799a3a;
	border-bottom: 4px solid #799a3a;
}

/*コンテンツ
---------------------------------------------------------------------------*/
/*コンテンツのh2タグの設定*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #6c6050;
	padding: 10px 20px;
	background: #ffe500;
	border-radius: 10px;
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 8px 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
}
/*コンテンツのp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;
}
/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}
#contents section + section {
	margin-top: 30px;
}

.item-name {
	display: flex;
	justify-content: space-around;
}


/*plan.showページ
---------------------------------------------------------------------------*/
.detail-table {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.detail-item {
	width: 200px;
	height: 20px;
	clear: both;
	margin-bottom: 10px;
	padding: 8px 20px 10px 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.detail-value {
	margin-left: 20px;
	width: 200px;
	height: 20px;
}

/*Galleryページ
---------------------------------------------------------------------------*/
.list {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.list h4 {
	color: #799a3a;
}
/*画像の設定*/
.list img {
	width: 20%;
	float: left;
	margin-right: 3%
}
/*段落タグ*/
.list p {
	padding: 0 !important;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #e5e5e5;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color: #799a3a;}
.pr {font-size: 12px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}

/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px){

.ws,.wl {width: 94%;}

}

/*ログイン画面
---------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background: #f7f5e2,	/*背景色*/ no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
